.about-container {
    min-height: 100%;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

.about-description {
    font-size: 1.2rem;
    max-width: 800px;
    text-align: center;
    margin-bottom: 2rem;
    color: #b0b0b0;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1000px;
}

.about-card {
    background-color: #292929;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.about-card:hover {
    transform: scale(1.05);
}

.about-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.film {
    color: #facc15;
}

.sear {
    color: #3b82f6;
}

.history {
    color: #22c55e;
}

.favorite {
    color: #ec4899;
}

.about-subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.about-creators {
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creators-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.creator-images {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    align-items: center;
}

.creator {
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* .creator-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
} */

.creator-photo-1 {
    width: 120px;
    height: 120px;
    object-position: top;
    border-radius: 50%;
    object-fit: cover;
}

.creator-name {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.creator-name:hover {
    color: #facc15;
    cursor: pointer;
    transition: color 0.5s ease;
}

.icon-hand {
    font-size: 3rem;
    color: #15fa37;
    margin-bottom: 25px;
}